html {
    font-family: 'Roboto', sans-serif;
}

.page-wrap .main-heading small {
    display: block;
}

/* Overriding material design colors. Should be done with a proper SASS setup, so I am sorry... */
blockquote {
    border-left-color: #01579b;
}

footer.page-footer {
    background-color: #01579b;
}
.github-corner:hover
.octo-arm{
	animation:octocat-wave 560ms ease-in-out
	}
@keyframes octocat-wave{
	0%,100%{
		transform:rotate(0)
		}
	20%,60%{
		transform:rotate(-25deg)
		}
	40%,80%{
		transform:rotate(10deg)
	}
}
@media (max-width:500px){
	.github-corner:hover 
	.octo-arm{
		animation:none
	}
	.github-corner .octo-arm{
		animation:octocat-wave 560ms ease-in-out
	}
}